<div id="notification-item-{{ nid }}" class="notification-item">
  <div class="limiter">
    <div class="img">{{ image }}</div>
    <div class="title">{{ title }}</div>
    <a class="{{ cta_class }}" href="{{ cta_url }}" target="{{ cta_target }}" title="{{ cta_text }}">{{ cta_text }}</a>
  </div>
</div>